* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px black solid;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* nav */
nav {
  max-width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__background--img--wrapper {
  position: absolute;
  max-width: 100%;
  max-height: 40vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
}

.nav__background--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.search__title {
  color: white;
}
